.containerWoman{
position: absolute;
opacity: 3;
width: 100px;
}
.img{
  display:inline-block;

}

@media (max-width: 1100px) {
  .img {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-left: -200px;
  }
}
@media (max-width: $break-point-tablet) {
  .img {
    background-color: none;
    width: 250px;
    height: 250px;
    margin-left: -330px;
    margin-top: 40px;
  }
}
@media (max-width:650px) {
  .img {  
    display: none;

  }
}

