.menu{
    position: absolute;
    width: 60%;
    height: 1500px;
    background:  #F7F7F7 ;
    z-index: 7;
    margin-top: 95px;
    display: block;
    margin-left: 40%;
    display: flex;
}
.links{
    margin-left: 30%;
    margin-top: 30px;
    padding: 0px;
    color: #FBAB34;
}
.btnMenu{
    margin-top: 15px;
}