.background {
  width: 100%;
  background-color: $color-white;
  box-shadow: 0px -4px 8px rgba(77, 77, 77, 0.1);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  	max-width: $constraint-main-col;
    margin-inline: auto;
    padding-block: 24px;
  }
}

@media (max-width: $break-point-tablet) {
  .background{
    p{
      font-size:14px;
    }
    div{  
      padding: 3vh;
      height: 56px;
    }
  }
    
  }

  @media (max-width: $break-point-mobile) {
    .background{
      height: 0px;
      p{
        font-size:14px;
        display: none;
      }
      div{  
        padding: 0;
        height: 56px;
        margin: auto;
        display: flex;
        justify-content: center;
      }
        div img{
          align-items: center;
        }
    }
      
    }
      